@if (isLoading) {
  <section>
    <p>Registrando usuario...</p>
    <app-loading-spinner></app-loading-spinner>
  </section>
} @else {
  <form [formGroup]="registerForm"
        (ngSubmit)="onRegisterAttempt()"
  >
    <h2 *ngIf="!isEditing && !isPatient; else isEditingH2">FORMULARIO DE REGISTRO</h2>
    <ng-template #isEditingH2>
      <h2>EDICIÓN DE USUARIO</h2>
    </ng-template>
    <section class="form-first-row">
      <fieldset class="form-personal-data">
        <legend>Datos personales</legend>
        <article class="name-field">
          <label for="name">Nombre</label>
          <input type="text"
                 id="name"
                 formControlName="nombre"
                 [ngClass]="{'invalid':
               registerForm.get('nombre').invalid
               && sendedAttempt
               }"
          >
        </article>
        <article class="first-surname-field">
          <label for="first-surname">Primer apellido</label>
          <input type="text"
                 id="first-surname"
                 formControlName="primer_apellido"
                 [ngClass]="{ 'invalid':
               registerForm.get('primer_apellido').invalid &&
               sendedAttempt
               }"
          >
        </article>
        <article class="second-surname-field">
          <label for="second-surname">Segundo apellido</label>
          <input type="text"
                 id="second-surname"
                 formControlName="segundo_apellido"
                 [ngClass]="{ 'invalid':
               registerForm.get('segundo_apellido').invalid
               && sendedAttempt
               }"
          >
        </article>
        <article class="dni-field">
          <label for="dni">DNI</label>
          <input type="text"
                 id="dni"
                 formControlName="dni"
                 [ngClass]="{ 'invalid':
                registerForm.get('dni').invalid
                && sendedAttempt
                }"
          >
        </article>
        <article class="date-of-birth-field">
          <label for="date-of-birth">Fecha de nacimiento</label>
          <input type="date"
                 id="date-of-birth"
                 formControlName="fecha_nacimiento"
                 [ngClass]="{ 'invalid':
                registerForm.get('fecha_nacimiento').invalid
                && sendedAttempt
                }"
          >
        </article>
        <article class="clinic-historial-field" *ngIf="isEditing || isPatient">
          <label>Historia clínica</label>
          <input type="text" formControlName="clinic-historial">
        </article>
      </fieldset>
      <fieldset class="form-account-data">
        <legend>Datos de acceso</legend>
        <article class="form-field">
          <label for="email">Correo electrónico</label>
          <input type="email"
                 id="email"
                 formControlName="email"
                 [ngClass]="{ 'invalid':
               registerForm.get('email').invalid &&
               sendedAttempt }"
          >
        </article>
        <article class="form-field">
          <label for="password" *ngIf="!isEditing; else isEditingPass">Contraseña</label>
          <ng-template #isEditingPass>
            <label for="password">Contraseña actual</label>
          </ng-template>
          <app-password-input id="password"
                              formControlName="password"
                              [ngClass]="{ 'invalid': registerForm.get('password').invalid && sendedAttempt }">
          </app-password-input>
        </article>
      </fieldset>
    </section>
    <section class="form-second-row">
      <fieldset class="form-contact-data">
        <legend>Dirección y contacto</legend>
        <article class="place-field">
          <label for="place">Plaza/Calle</label>
          <select2  id="place" formControlName="tipo_via"
                  [ngClass]="{ 'invalid': registerForm.get('tipo_via').invalid &&
                sendedAttempt }" [data]="places" placeholder="Elige una opcion">
          </select2>
        </article>
        <article class="address-field">
          <label for="address">Dirección</label>
          <input type="text"
                 id="address"
                 formControlName="nombre_via"
                 [ngClass]="{ 'invalid':
               registerForm.get('nombre_via').invalid &&
               sendedAttempt  } "
          >
        </article>
        <article class="number-field">
          <label for="number">Nº</label>
          <input type="number"
                 id="number"
                 formControlName="numero"
                 [ngClass]="{ 'invalid':
               registerForm.get('numero').invalid &&
               sendedAttempt }"
          >
        </article>
        <article class="floor-field">
          <label for="floor">Piso</label>
          <input type="number"
                 id="floor"
                 formControlName="piso"
                 [ngClass]="{ 'invalid':
               registerForm.get('piso').invalid &&
               sendedAttempt }"
          >
        </article>
        <article class="door-field">
          <label for="door">Puerta</label>
          <input type="text"
                 id="door"
                 formControlName="puerta"
                 [ngClass]="{ 'invalid':
               registerForm.get('puerta').invalid &&
               sendedAttempt }"
          >
        </article>
        <article class="province-field">
          <label for="province">Provincia</label>
          <select2 formControlName="province" id="province"
                  [ngClass]="{ 'invalid':
               registerForm.get('province').invalid &&
               sendedAttempt }" [data]="provinces" placeholder="Elige una opcion">
          </select2>
        </article>
        <article class="city-field">
          <label for="city">Ciudad</label>
          <select2 formControlName="municipio" id="city"
                  [ngClass]="{ 'invalid':
               registerForm.get('municipio').invalid &&
               sendedAttempt }" [data]="municipios" placeholder="Elige una opcion">
          </select2>
        </article>
        <article class="postal-code-field">
          <label for="postal-code">CP</label>
          <select2 formControlName="codigo_postal" id="postal-code"
                  [ngClass]="{ 'invalid':
               registerForm.get('codigo_postal').invalid &&
               sendedAttempt }" [data]="codigosPostales" placeholder="Elige una opcion">
          </select2>
        </article>
        <article class="phone-field">
          <label for="phone">Teléfono</label>
          <input type="text" formControlName="tel_fijo" id="phone"
                 [ngClass]="{ 'invalid':
               registerForm.get('tel_fijo').invalid &&
               sendedAttempt }"
          >
        </article>
        <article class="mobile-field">
          <label for="mobile">Móvil</label>
          <input type="text" formControlName="tel_movil" id="mobile"
                 [ngClass]="{ 'invalid':
               registerForm.get('tel_movil').invalid &&
               sendedAttempt }"
          >
        </article>
      </fieldset>
      @if (registerForm.invalid && sendedAttempt) {
        <section class="error-message">
          <h3>Por favor, rellena todos los campos correctamente:</h3>
          <ul>
            @if (registerForm.get('nombre').invalid) {
              <li>
                <strong>Nombre:</strong> Debe empezar por mayúscula y el resto de
                letras en minúsculas, salvo en el caso de nombres compuestos.
              </li>
            }

            @if (registerForm.get('primer_apellido').invalid) {
              <li>
                <strong>Primer apellido:</strong> Debe empezar por mayúscula y
                el resto de letras en minúsculas, salvo en el caso de apellidos
                compuestos.
              </li>
            }

            @if (registerForm.get('segundo_apellido').invalid) {
              <li>
                <strong>Segundo apellido:</strong> Debe empezar por mayúscula y
                el resto de letras en minúsculas, salvo en el caso de apellidos
                compuestos.
              </li>
            }

            @if (registerForm.get('dni').invalid) {
              <li>
                <strong>DNI:</strong> Debe tener un formato válido (7 u 8
                números y una letra mayúscula. Por ejemplo: 12345678A).
              </li>
            }

            @if (registerForm.get('fecha_nacimiento').invalid) {
              <li>
                <strong>Fecha de nacimiento:</strong> Seleccione una fecha
                usando el calendario o introduzca una en formato: DD/MM/AAAA.
                La fecha no puede ser negativa o mayor a 120 años.
              </li>
            }

            @if (registerForm.get('email').invalid) {
              <li>
                <strong>Correo electrónico:</strong> Debe tener un formato
                válido (usuario&#64;dominio.com | usuario&#64;dominio).
              </li>
            }

            @if (registerForm.get('password').invalid) {
              <li>
                <strong>Contraseña:</strong> Debe tener al menos 8 caracteres,
                una mayúscula, una minúscula, un número y un carácter especial.
              </li>
            }

            @if (registerForm.get('tipo_via').invalid) {
              <li>
                <strong>Plaza/Calle:</strong> Debe seleccionar una opción.
              </li>
            }

            @if (registerForm.get('nombre_via').invalid) {
              <li>
                <strong>Dirección:</strong> Debe empezar por mayúscula y el
                resto de letras en minúsculas, salvo en el caso de nombres
                compuestos.
              </li>
            }

            @if (registerForm.get('numero').invalid) {
              <li>
                <strong>Nº:</strong> Debe ser un número.
              </li>
            }

            @if (registerForm.get('piso').invalid) {
              <li>
                <strong>Piso:</strong> Debe ser un número.
              </li>
            }

            @if (registerForm.get('puerta').invalid) {
              <li>
                <strong>Puerta:</strong> Debe ser un número o una letra mayúscula.
              </li>
            }

            @if (registerForm.get('province').invalid) {
              <li>
                <strong>Provincia:</strong> Debe seleccionar una opción.
              </li>
            }

            @if (registerForm.get('municipio').invalid) {
              <li>
                <strong>Ciudad:</strong> Debe seleccionar una opción.
              </li>
            }

            @if (registerForm.get('codigo_postal').invalid) {
              <li>
                <strong>CP:</strong> Debe ser un número de 5 dígitos.
              </li>
            }

            @if (registerForm.get('tel_fijo').invalid) {
              <li>
                <strong>Teléfono:</strong> Debe ser un número de 9 dígitos.
                Empezando por 9. En el caso de prefijos internacionales, puede
                colocar el valor de las siguientes formas: +34 923456789 o 0034
                923456789.
              </li>
            }

            @if (registerForm.get('tel_movil').invalid) {
              <li>
                <strong>Móvil:</strong> Debe ser un número de 9 dígitos.
                Empezando por 6 o por 7. En el caso de prefijos internacionales,
                puede colocar el valor de las siguientes formas: +34 623456789 o
                0034 723456789.
              </li>
            }
          </ul>
        </section>
      } @else if (errores.length>0) {
          <p class="error-message" *ngFor="let error of errores">{{ error }}</p>
      }
      <section class="btn-section">
        <button type="submit" *ngIf="isEditing || isPatient; else isRegistering">Editar</button>
        <ng-template #isRegistering>
          <button type="submit">Registrarse</button>
        </ng-template>
        <button type="button" class="btn-cancel" (click)="onCancel()">Cancelar
        </button>
      </section>
    </section>
  </form>
}

