<select2 id="especialidad" [data]="especialidades" [(ngModel)]="especialidad_id" placeholder="Elige una opcion"
    (update)="buscarEspecialistas()">
</select2>
<article class="date-filter">
    <label for="fecha">Fecha</label>
    <input type="date" id="fecha" [(ngModel)]="fecha">
  </article>
<p>{{especialidad_id}}</p>
@if(especialistas!=null){
    <select2 id="especialista" [data]="especialistas" [(ngModel)]="especialista_id" placeholder="Elige una opcion"></select2>
    <button type="button" (click)="buscarCitas()">Buscar citas Disponibles</button>
}
