<section class="header">
  <h2>Listado de mediciones disponibles</h2>
</section>
<section class="filter-buttons">
  <article class="filters">
    <article class="init-date-filter">
      <label for="fechaInicio">Fecha inicio</label>
      <input type="date" id="fechaInicio" [(ngModel)]="fechaInicio" (blur)="updateFilters()">
    </article>
    <article class="end-date-filter">
      <label for="fechaFin">Fecha fin</label>
      <input type="date" id="fechaFin" [(ngModel)]="fechaFin" (blur)="updateFilters()">
    </article>
    <article class="per-page-filter">
      <label for="per-page">Items</label>
      <select2 id="per-page" [data]="perPageOptions" [value]="10" [(ngModel)]="perPage" (update)="updateFilters()"></select2>
    </article>
  </article>
  @if (isPatient) {
    <article class="buttons">
      <button type="button" class="btn btn-primary m-3"
              routerLink="/mediapp/tomar-{{isGlucometria ? 'glucometria' : 'tension'}}"
      >{{ isGlucometria ? 'Tomar glucometría' : 'Tomar tensión arterial' }}</button>
    </article>
  }
</section>
@if (!dataLoaded) {
  <app-loading-spinner></app-loading-spinner>
} @else if (!mediciones.length) {
  @if (fechaInicio || fechaFin) {
    <section class="no-results">
      <p>No se encontraron resultados con esos criterios de búsqueda.</p>
      <figure>
        <img src="assets/img/search-not-found.png" alt="No se encontraron resultados">
      </figure>
    </section>
  } @else {
    <section class="no-results">
      <p>No se encontraron {{ isGlucometria ? 'glucometrías' : 'tensiones arteriales' }} registradas.</p>
    </section>
  }
} @else {
  <section class="mediciones-table">
    <div class="info">
      <small>Mostrando {{ resultMin }} - {{ resultMax }} de {{ totalItems }} tomas de {{ isGlucometria ? 'glucosa' : 'tensión arterial' }}.</small>
    </div>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Hora</th>
            <th>Fecha</th>
            <th *ngFor="let campo of fields">{{campo}}</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let medicion of (mediciones | paginate: { id: 'medicionListPagination', itemsPerPage: itemsPerPage, currentPage: actualPage, totalItems: totalItems })">
            <tr>
              <td>{{medicion.hora}}</td>
              <td>{{medicion.fecha}}</td>
              <td *ngFor="let propiedad of campos" [ngClass]="getDangerClass(medicion.datos_toma[propiedad], propiedad)">{{ medicion.datos_toma[propiedad]}}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    @if (previousPageUrl || nextPageUrl) {
      <div class="pagination">
        <pagination-controls
          (pageChange)="actualPage = $event; changePage(actualPage)"
          id="medicionListPagination"
          maxSize="5"
          directionLinks="true"
          previousLabel="Anterior"
          nextLabel="Siguiente"
        ></pagination-controls>
      </div>
    }
  </section>
}
