<section>
  <aside class="sidebar">
    <app-sidebar [mainOptions] = "sidebarOptionsTop"
                 [secondaryOptions] = "sidebarOptionsBottom"
                 title = "Panel de administración"
    ></app-sidebar>
  </aside>
  <article class="main">
    @if (!optionSelected) {
      <section class="welcome">
        <h3>¡Bienvenido/a, {{ userName }}!</h3>
        <p>Selecciona una opción del menú lateral para comenzar</p>
        <figure>
          <img src="assets/img/admin.png" alt="Bienvenido/a">
        </figure>
      </section>
    } @else {
      <router-outlet></router-outlet>
    }
  </article>
</section>
