<h1>Panel de Administrador.</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class=" navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button type="button" class=" btn btn-primary" routerLink="/testeo/listadoUsers">Listado Usuarios</button>
      </li>
      <li class="nav-item">
        <button type="button" class=" btn btn-primary" routerLink="/testeo/listadoEspecialidades">Listado Especialidades</button>
      </li>
    </ul>
  </div>
  </nav>
<router-outlet></router-outlet>