<section>
  <article class="sidebar">
    <article>
      <p routerLink="/mediapp/usuarios" routerLinkActive="active" (click)="onOptionSelected()">
        <i class="bi bi-people-fill"></i><span>Usuarios</span>
      </p>
      <p routerLink="/mediapp/especialidades" routerLinkActive="active" (click)="onOptionSelected()">
        <i class="bi bi-hospital-fill"></i><span>Especialidades</span>
      </p>
      <p routerLink="/mediapp/consultas" routerLinkActive="active" (click)="onOptionSelected()">
        <i class="bi bi-calendar-check"></i><span>Consultas</span>
      </p>
    </article>
    <article>
      <p (click)="onLogout()">
        <i class="bi bi-box-arrow-right"></i><span>Cerrar Sesión</span></p>
    </article>
  </article>
  <article class="main">
    @if (!optionSelected) {
      <section class="welcome">
        <h3>¡Bienvenido/a, {{ userName }}!</h3>
        <p>Selecciona una opción del menú lateral para comenzar</p>
        <figure>
          <img src="assets/img/admin.png" alt="Bienvenido/a">
        </figure>
      </section>
    } @else {
      <router-outlet></router-outlet>
    }
  </article>
</section>
