:host {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 2rem;

  form {
    section {
      fieldset {
        ::ng-deep .select2-selection--single {
          padding: 0.5rem 0.8rem;
          border: 1px solid #ddd;
          border-radius: 1rem;
          width: 100%;
          height: 43px;
        }
      }
    }
  }
}

h2 {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

h3 {
  margin-bottom: 0;
}

form {
  width: 80%;
  background-color: #c5cbf6;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

fieldset {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

legend {
  font-size: 1.5em;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1rem;
}

label {
  padding-left: 0.8rem;
  font-weight: bold;
  font-size: .9rem;
  display: block;
}

input {
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  border-radius: 1rem;
  width: 100%;
}

button {
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.2rem;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color .3s;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.form-first-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "personal-data personal-data account-data";
  gap: 1rem;
}

.form-personal-data {
  grid-area: personal-data;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    ". . ."
    "name first-surname second-surname"
    "dni date-of-birth .";
  gap: 1rem;
  align-content: center;
}

.name-field {
  grid-area: name;
}

.first-surname-field {
  grid-area: first-surname;
}

.second-surname-field {
  grid-area: second-surname;
}

.dni-field {
  grid-area: dni;
}

.date-of-birth-field {
  grid-area: date-of-birth;
}

.gender-field {
  grid-area: gender;
}

.form-account-data {
  grid-area: account-data;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

.form-second-row {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "contact-data";
  gap: 1rem;
}

.form-specialist-data {
  grid-area: contact-data;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "legend  legend   . . .  .  "
    "legend  legend   . . .  .  "
    " number number   especiality especiality   turn  consultation"
    " number number   especiality especiality   turn  consultation"
    " image image . description description description  "
    " preview-image preview-image . description description description  ";
  gap: 1.5rem;
}

.form-specialist-data legend {
  grid-area: legend;
}

.consultation-field {
  grid-area: consultation;
}

.especiality-field {
  grid-area: especiality;
}

.number-field {
  grid-area: number;
}

.turn-field {
  grid-area: turn;
}

.preview-image{
  grid-area: preview-image;
  width: 100%;
  margin-top: 10%;
}

.image-field {
  grid-area: image;
}

.description-field {
  grid-area: description;
}

.btn-section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 1rem;
}

.btn-cancel {
  background-color: #dc3545;
}

.btn-cancel:hover {
  background-color: #c82333;
}

input.invalid,
select.invalid {
  border-color: red;
  background-color: lightcoral;
}

#province,
#city,
#place,
#postal-code {
  --select2-placeholder-color: black;
}

#province.invalid,
#city.invalid,
#place.invalid,
#postal-code.invalid {
  --select2-selection-background: lightcoral;
  --select2-selection-border-color: red;
}


select.invalid>option {
  background-color: white;
}

textarea {
  width: 100%;
  height: 85%;
  padding: 1rem;
  text-align: justify;
}

.error-message {
  font-size: .8rem;
  background-color: lightcoral;
  border: 1px solid red;
  border-radius: 1rem;
  padding: 1rem;
}

.error-message ul {
  padding: 1rem;
}

.error-message li {
  text-align: justify;
}

@media (max-width: 1000px) {
  .form-first-row {
    grid-template-columns: 1fr;
    grid-template-areas:
      "personal-data"
      "account-data";
  }

  .form-account-data {
    flex-flow: row nowrap;
    justify-content: space-evenly;
  }

  .form-account-data>article {
    width: 50%;
  }
}

@media (max-width: 670px) {
  .form-personal-data {
    grid-template-columns: 1fr;
    grid-template-areas:
    "legend"
      "name"
      "first-surname"
      "second-surname"
      "dni"
      "date-of-birth"
      "gender";
  }

  .form-specialist-data {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
      "legend"
      "legend"
      "number"
      "number"
      "especiality"
      "especiality"
      "turn"
      "consultation"
      "image"
      "description"
      "description"
      "description"
  }

  .form-account-data {
    flex-flow: column nowrap;
    justify-content: center;
  }

  .form-account-data>article {
    width: 100%;
  }

  textarea {
    height: 300px;
  }
}
