<section class="waves">
  <article class="wave"></article>
  <article class="wave"></article>
  <article class="wave"></article>
  <article class="wave"></article>
</section>
<ul class="social-media">
  <li>
    <a href="https://www.facebook.com/?locale=es_ES" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-facebook"></i>
    </a>
  </li>
  <li>
    <a href="https://twitter.com" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-twitter-x"></i>
    </a>
  </li>
  <li>
    <a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-linkedin"></i>
    </a>
  </li>
  <li>
    <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-instagram"></i>
    </a>
  </li>
</ul>
<ul class="menu">
  <li>
    <a [routerLink]="'/sobre-nosotros'" [routerLinkActive]="'active'">La clínica</a>
  </li>
  <li>
    <a [routerLink]="'/nuestros-servicios'" [routerLinkActive]="'active'">Servicios</a>
  </li>
  <li>
    <a [routerLink]="'/contacto'" [routerLinkActive]="'active'">Contacto</a>
  </li>
  <li>
    <a [routerLink]="'/auth/login'" [routerLinkActive]="'active'">MediAPP</a>
  </li>
</ul>
<p><a routerLink="/terminos-y-condiciones" [routerLinkActive]="'active'">Términos y condiciones</a>
  | <a routerLink="/politica-de-privacidad" [routerLinkActive]="'active'">Política de privacidad</a></p>
<p>&copy; 2024 Clínica Médica Coslada, S.L. | All Rights Reserved</p>
