<section class="waves">
  <article class="wave"></article>
  <article class="wave"></article>
  <article class="wave"></article>
  <article class="wave"></article>
</section>
<ul class="social-media">
  <li>
    <a href="https://www.facebook.com/?locale=es_ES" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-facebook"></i>
    </a>
  </li>
  <li>
    <a href="https://twitter.com" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-twitter-x"></i>
    </a>
  </li>
  <li>
    <a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-linkedin"></i>
    </a>
  </li>
  <li>
    <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-instagram"></i>
    </a>
  </li>
</ul>
<ul class="menu">
  <li>
    <a [routerLink]="'/sobre-nosotros'">La clínica</a>
  </li>
  <li>
    <a [routerLink]="'/nuestros-servicios'">Servicios</a>
  </li>
  <li>
    <a [routerLink]="'/contacto'">Contacto</a>
  </li>
  <li>
    <a [routerLink]="'/auth/login'">MediAPP</a>
  </li>
</ul>
<p>&copy; 2024 Coslada Clinic, S.L. | All Rights Reserved</p>
