<h2 class="page-title">ESPECIALIDADES MÉDICAS</h2>
@if (isLoading) {
  <app-loading-spinner></app-loading-spinner>
} @else {
  @if (specialties.length === 0) {
    <p class="no-results">No se han encontrado especialidades médicas</p>
  } @else {
    <section class="pagination">
      <pagination-controls (pageChange)="actualPage = $event; getSpecialties(actualPage)"
                           maxSize="5"
                           directionLinks="true"
                           previousLabel="Ant"
                           nextLabel="Sig"
      ></pagination-controls>
    </section>
    <section class="card-container">
      <div >
        <app-vertical-card *ngFor="let specialty of specialties | paginate: { itemsPerPage: itemsPerPage, currentPage: actualPage, totalItems: totalItems }"
                           [info]="specialty"
                           [routerLink]="'/listado-de-especialistas'"
                           [fragment]="specialty.datos_especialidad.nombre | lowercase | removeAccents"
        ></app-vertical-card>
      </div>
      <app-chat-bot></app-chat-bot>
    </section>
  }
}
