<h2 class="page-title">ESPECIALIDADES MÉDICAS</h2>
@if (specialties) {
  <section class="pagination">
    <pagination-controls (pageChange)="actualPage = $event; getSpecialties(actualPage)"
                         maxSize="5"
                         directionLinks="true"
                         previousLabel="Anterior"
                         nextLabel="Siguiente"
    ></pagination-controls>
  </section>
  <section class="card-container">
    <div *ngFor="let specialty of specialties | paginate: { itemsPerPage: itemsPerPage, currentPage: actualPage, totalItems: totalItems }">
      <app-vertical-card [info]="specialty"
                         [routerLink]="'/listado-de-especialistas'"
                         [fragment]="specialty.datos_especialidad.nombre | lowercase | removeAccents"
      ></app-vertical-card>
    </div>
    <app-chat-bot></app-chat-bot>
  </section>
} @else {
  <app-loading-spinner></app-loading-spinner>
}
