@import "bootstrap-icons";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  h2 {
    margin-bottom: 20px;
    text-align: center;
  }

  section {
    width: 100%;

    &.filter-buttons {
      display: flex;
      justify-content: center;
      align-items: center;

      @media all and (max-width: 1300px) {
        flex-direction: column;
      }
    }

    article {
      padding: 1rem;

      label {
        font-size: 1.2rem;
        font-weight: 500;
        display: block;

        @media all and (max-width: 1000px) {
          font-size: 1rem;
          text-align: center;
        }
      }

      input {
        width: 100%;
        padding: 5px 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1.2rem;
      }

      &.filters {
        display: flex;
        align-items: center;
        width: 50%;

        @media all and (max-width: 1300px) {
          width: 100%;
        }

        @media all and (max-width: 1000px) {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-areas:
           "search search"
            "rol items";
        }

        .role-filter {
          width: 35%;

          @media all and (max-width: 1000px) {
            grid-area: rol;
            width: 100%;
          }
        }

        .search-filter {
          width: 40%;

          @media all and (max-width: 1000px) {
            grid-area: search;
            width: 100%;
          }
        }

        .per-page-filter {
          width: 25%;

          @media all and (max-width: 1000px) {
            grid-area: items;
            width: 100%;
          }
        }

        ::ng-deep .select2-selection--single {
          font-size: 1.2rem;
          width: 100%;
          border-radius: 5px;
          padding: 20px;
          text-align: left;
          align-items: center;
        }

        #role,
        #per-page {
          --select2-selection-border-color: #ccc;
        }
      }

      &.buttons {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 1rem;
        width: 50%;

        @media all and (max-width: 1300px) {
          width: 100%;
          justify-content: center;
        }
      }
    }

    &.no-results {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-evenly;
      align-items: center;
      font-size: 1.5rem;
      font-weight: 500;
      height: 300px;

      p {
        text-align: center;
      }

      figure {
        img {
          width: 100%;
          max-width: 200px;
          margin-bottom: 1rem;
        }
      }
    }

    &.user-table {
      width: 100%;
      height: 450px;

      @media all and (min-width: 1000px) and (max-width: 1300px) {
        height: 380px;
      }

      @media all and (max-width: 1000px) {
        height: 300px;
      }

      .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .table-container {
        height: 100%;
        overflow-y: auto;
        width: 100%;
        display: block;

        &::-webkit-scrollbar {
          width: 10px;
        }

        &::-webkit-scrollbar-track {
          background: #f1f1f1;
        }

        &::-webkit-scrollbar-thumb {
          background: #888;
          border-radius: 5px;
        }

        &::-webkit-scrollbar-thumb:hover {
          background: #555;
        }

        table {
          display: table;
          width: 100%;
          border-collapse: collapse;
          border-spacing: 0;
          border-radius: 5px;

          thead {
            position: sticky;
            top: 0;
            z-index: 1;

            tr {
              background-color: lightblue;

              th {
                width: 22%;
                font-size: 1.2rem;
                font-weight: 500;
                padding: 10px;
                text-align: left;

                &:first-child {
                  border-radius: 16px 0 0 0;
                }

                &:first-child,
                &:nth-child(2) {
                  width: 30%
                }

                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5) {
                  text-align: center;
                }

                &:last-child {
                  border-radius: 0 16px 0 0;
                }

                @media all and (max-width: 700px) {
                  &:nth-child(2) {
                    display: none;
                  }
                }

                @media all and (max-width: 1050px) {
                  &:nth-child(3) {
                    display: none;
                  }
                }
              }
            }
          }

          tbody {
            tr {
              border-bottom: 1px solid #ccc;
              transition: background-color 0.3s;

              &.no-working {
                background-color: #f5b8b8;

                &:hover {
                  background-color: #f5b8b8;
                }
              }

              &:hover {
                background-color: lightblue;
              }
              td {
                width: 20%;
                padding: 1rem;

                &:nth-child(3), &:nth-child(4), &:nth-child(5) {
                  text-align: center;
                }

                @media all and (max-width: 700px) {
                  font-size: 0.8rem;
                  text-align: center;

                  &:nth-child(2) {
                    display: none;
                  }
                }

                @media all and (max-width: 1050px) {
                  &:nth-child(3) {
                    display: none;
                  }
                }

                &.btn-container {
                  > div {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .dropdown-menu {
                      position: absolute;
                    }
                  }

                  button {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    border: none;
                    font-size: 1rem;
                    cursor: pointer;

                    bi {
                      font-size: 1.5rem;
                      width: 20%;
                    }

                    span {
                      width: 80%;
                      display: inline-block;
                      padding: .5rem;
                      color: black;
                      font-size: 1rem;
                    }
                  }
                }

                span {
                  display: inline-block;
                  padding: .5rem;
                  font-size: 1rem;
                  color: white;
                  border-radius: 1rem;

                  @media all and (max-width: 700px) {
                    font-size: 0.7rem;
                  }

                  &.paciente {
                    background-color: #677dd2;
                  }

                  &.especialista {
                    background-color: #29bbb2;
                  }
                }
              }
            }
          }
        }
      }

      .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        width: 100%;

        @media (max-width: 600px){
          font-size: 0.8rem;
        }

        @media (max-width: 400px){
          font-size: 0.7rem;
        }

        pagination-controls{
          margin-top: 1rem;
          margin-bottom: 0;
        }

        ::ng-deep .ngx-pagination {
          .current {
            background-color: lightblue;
            color: black;
          }

          li {
            a {
              padding: 5px 10px;
              border-radius: 5px;
              margin: 0 2px;
              cursor: pointer;
              transition: background-color 0.3s;

              &:hover {
                background-color: transparent;
              }
            }

            &.pagination-next,
            &.pagination-previous{
              font-size: 0.6rem;
              &:hover {
                a {
                  background-color: transparent;
                }
              }
            }
          }
        }
      }
    }
  }
}
