<section class="header">
  <h2>Usuarios</h2>
</section>
<section class="filter-buttons">
  <article class="filters">
    <article class="role-filter">
      <label for="role">Rol</label>
      <select2 id="role" [data]="roles" [value]="1" [(ngModel)]="role" (update)="updateFilters()"></select2>
    </article>
    <article class="search-filter">
      <label for="search">Buscar</label>
      <input type="text" id="search" [(ngModel)]="search" (keyup)="updateFilters()">
    </article>
    <article class="per-page-filter">
      <label for="per-page">Items</label>
      <select2 id="per-page" [data]="perPageOptions" [value]="10" [(ngModel)]="perPage" (update)="updateFilters()"></select2>
    </article>
  </article>
  <article class="buttons">
    <button type="button" class="btn btn-primary" routerLink="../crear-paciente">Crear paciente</button>
    <button type="button" class="btn btn-primary" routerLink="../crear-especialista">Crear Especialista</button>
  </article>
</section>
@if (!dataLoaded) {
  <app-loading-spinner></app-loading-spinner>
} @else if (!users.length) {
  <section class="no-results">
    @if (search || role !== '1') {
    <p>No se encontraron resultados con esos criterios de búsqueda.</p>
    } @else {
    <p>No se encontraron usuarios registrados.</p>
    }
    <figure>
      <img src="assets/img/search-not-found.png" alt="No se encontraron resultados">
    </figure>
  </section>
} @else {
  <section class="user-table">
    <div class="info">
      <small>Mostrando {{ resultMin }} - {{ resultMax }} de {{ totalItems }} usuarios.</small>
    </div>
    <div class="table-container">
      <table>
        <thead>
        <tr>
          <th>Nombre</th>
          <th>Correo electrónico</th>
          <th>DNI</th>
          <th>Rol</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr
          *ngFor="let user of (users | paginate: { id: 'userListPagination', itemsPerPage: itemsPerPage, currentPage: actualPage, totalItems: totalItems })"
          [ngClass]="user.datos_turno === 'no-trabajando' ? 'no-working' : ''"
        >
          <td>{{ user.datos_personales.nombre }} {{ user.datos_personales.primer_apellido }} {{ user.datos_personales.segundo_apellido }}</td>
          <td>{{ user.datos_personales.email }}</td>
          <td>{{ user.datos_personales.dni }}</td>
          <td><span [ngClass]="user.datos_rol.rol_id === 2 ? 'paciente' : 'especialista'">{{ user.datos_rol.nombre_rol | uppercase }}</span></td>
          <td class="btn-container">
            <div class="dropdown">
              <button class="btn btn-link" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots-vertical"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <button class="dropdown-item edit-btn" type="button" *ngIf="user.datos_rol.rol_id===2; else especialista" routerLink="../editar-paciente/{{user.usuario_id}}">
                  <i class="bi bi-pencil"></i> <span>Editar</span>
                </button>
                <ng-template #especialista>
                  <button class="dropdown-item edit-btn" type="button" routerLink="../editar-especialista/{{user.usuario_id}}">
                    <i class="bi bi-pencil"></i> <span>Editar</span>
                  </button>
                </ng-template>
                <button *ngIf="user.datos_turno !== 'no-trabajando'" class="dropdown-item delete-btn" type="button" (click)="confirmarCancelacion(user.usuario_id)">
                  <i class="bi bi-trash3"></i> <span>Eliminar</span>
                </button>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    @if (previousPageUrl || nextPageUrl) {
    <div class="pagination">
        <pagination-controls
          (pageChange)="actualPage = $event; changePage(actualPage)"
          id="userListPagination"
          maxSize="5"
          directionLinks="true"
          previousLabel="Anterior"
          nextLabel="Siguiente"
        ></pagination-controls>
    </div>
    }
  </section>
}
