div,.info,.data,.description-data,.consulta{
    display: flex;
}

div {
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}

section {
    background-color: #4b72ff;
    border-radius: 2em;
}

div>section{
    box-shadow: 0px 5px 40px gray;
}

section+section {
    margin: 4%;
    padding: 3%;
}

h1 {
    margin-top: 2%;
    text-align: center;
    font-size: max(2vw, 25px);
}

h2 {
    font-size: max(1.8vw, 20px);
    text-align: center;
    font-weight: bold;
}

p {
    margin-top: 4%;
}

p,a{
    font-size: max(1.3vw, 13px);
}

p,h3 {
    margin-left: 2%;
}

img {
    object-fit: cover;
    border-radius: 1%;
}

button {
    margin-top: 2%;
    padding: 2%;
    width: 20%;
    border-color: transparent;
    font-size: max(1.5vw,15px);
    border-radius: 10px;
    transition: 1s;
}

button:hover{
    background-color: darkblue;
    color: white;
}

a{
    color: darkblue;
    text-decoration: none;
}

a:hover{
    transition: 1s;
    color: white;
}

.data {
    flex-flow: row;
    justify-content: space-around;
    margin-top: 1%;
    width: 85%;
    padding: 4%
}

.data>* {
    width: 45%;
}

.description-data {
    flex-flow: column;
    align-items: center;
    width: 85%;
    justify-content: center;
}

.description-data p {
    width: 90%;
    font-size: max(1.5vw, 15px);
}

.info {
    flex-flow: column;
}

.info>* {
    margin-left: 4%;
}

.consulta {
    flex-flow: row;
    margin: none;
}

.consulta p {
    padding: 0;
    margin-left: 0;
}

.consulta p + p{
    margin-left: 20%;
}