@if(datosEspecialista!=null){

<h1>Datos especialista: {{datosEspecialista.nombre}} {{datosEspecialista.primer_apellido}}
    {{datosEspecialista.segundo_apellido}}</h1>
<div>
    <section class="data">
        <img [src]="datosEspecialista.imagen">
        <section class="info">
            <h2>Información especialista</h2>
            <p>Número de colegiado: {{datosEspecialista.num_colegiado}}</p>
            <p> Correo de contacto: {{datosEspecialista.email}}</p>
            <section class="consulta">
                <p>Consulta: {{datosEspecialista.consulta.consulta_nombre}}</p>
            <p>Turno de consulta: {{datosEspecialista.turno}}</p>
        </section>
            <p>Especialidad: {{datosEspecialista.especialidad.especialidad}}</p>
        </section>
    </section>
    <section class="description-data">
        <h2>¡Más sobre mí!</h2>
        <p>{{datosEspecialista.descripcion}}</p>
        <button type="button" [routerLink]="'/listado-de-especialistas'">Volver</button>
    </section>
</div>
}