@if (isLoading) {
  <app-loading-spinner></app-loading-spinner>
} @else if(datosEspecialista!=null){
  <h2 class="page-title">Datos especialista: {{datosEspecialista.datos_personales.nombre}} {{datosEspecialista.datos_personales.primer_apellido}} {{datosEspecialista.datos_personales.segundo_apellido}}</h2>
  <div>
    <section class="data">
      <img [src]="datosEspecialista.datos_especialista.imagen">
      <section class="info">
        <h2>Información especialista</h2>
        <p>Número de colegiado: {{datosEspecialista.datos_especialista.num_colegiado}}</p>
        <p> Correo de contacto: <a href="mailto:{{datosEspecialista.datos_personales.email}}">{{datosEspecialista.datos_personales.email}}</a></p>
        <section class="consulta">
          <p>Consulta: {{datosEspecialista.datos_especialista.consulta.consulta_nombre}}</p>
          <p>Turno de consulta: {{datosEspecialista.datos_especialista.turno}}</p>
        </section>
        <p>Especialidad: {{datosEspecialista.datos_especialista.especialidad.especialidad_nombre}}</p>
      </section>
    </section>
    <section class="description-data">
      <h2>¡Más sobre mí!</h2>
      <p [innerHTML]="safeDescription"></p>
      <button type="button" (click)="volver()">Volver</button>
    </section>
    <app-chat-bot></app-chat-bot>
  </div>
}
