:host {
  display: block;
  padding: 0; /* Cambiado a 0 */
  margin: 0; /* Añadido */
  width: 100%;
  height: 100vh;

  h1 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }
}
