@if (isUserLoggedIn) {
<div class="container">
    <div class="row">
        <div class="col-md-12">
            @switch (userRole) {
            @case(1) {
            <h1>Panel de administrador.</h1>
            }
            @case(2) {
            <h1>Panel de paciente.</h1>
            }
            @case(3) {
            <h1>Panel de doctor.</h1>
            }}
            <p>{{userId}}</p>
            <button type="button" class="btn btn-primary" (click)="onLogout()">Logout</button>

        </div>
    </div>
</div> } @else {
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Dashboard</h1>
            <p>Debes estar logado para ver este contenido.</p>
        </div>
    </div>
</div>
}