@if (isLoading) {
  <app-loading-spinner></app-loading-spinner>
} @else {
  <figure>
    <img src="assets/img/icons/glucometria.png" alt="Formulario de toma de glucometría">
  </figure>
  <h2>FORMULARIO TOMA GLUCOMETRÍA</h2>
    <form [formGroup]="registerForm"
          (ngSubmit)="onRegisterGlucometria()">
        <section class="form-first-row">
            <fieldset class="form-speciality-data">
                <article class="medicion-field">
                    <label for="medicion">Medición</label>
                    <input type="number" id="medicion" formControlName="medicion" class="form-control" [ngClass]="{'is-invalid':
                           registerForm.get('medicion').invalid && sendedAttempt }">
                </article>
            </fieldset>
        </section>
        @if (registerForm.invalid && sendedAttempt) {
        <section class="error-message mt-4 bg-danger text-white p-3 rounded">
            <h3>Error: Por favor, cumple con los requisitos de los campos</h3>
            <ul>
                @if (registerForm.get('medicion').invalid) {
                <li>
                    <strong>Medición:</strong> El nivel de glucosa en sangre no puede ser negativo y tiene que ser un valor entre 2 a 3 dígitos.
                </li>
                }
            </ul>
        </section>
        } @else if (errores.length > 0) {
          <section class="error-message">
            <h3>Han ocurrido los siguientes errores:</h3>
            <ul>
              <li *ngFor="let error of errores">{{ error }}</li>
            </ul>
          </section>
        }
        <section class="btn-container">
            <button type="submit" class="btn-send">Subir</button>
            <button type="button" class="btn-cancel" (click)="onCancel()">Cancelar</button>
        </section>
    </form>
    }
