@if (isLoading) {
  <app-loading-spinner></app-loading-spinner>
} @else {
  <figure>
    <img src="assets/img/icons/tensiometria.png" alt="Formulario de toma de tensión arterial">
  </figure>
  <h2>FORMULARIO TOMA TENSIÓN ARTERIAL</h2>
  <form [formGroup]="registerForm"
      (ngSubmit)="onRegisterTension()">
    <section class="form-row">
      <article>
        <label for="sistolica" class="form-label">Sistólica</label>
        <input type="number" id="sistolica" formControlName="sistolica" class="form-control" [ngClass]="{'is-invalid':
                               registerForm.get('sistolica').invalid && sendedAttempt }">
      </article>
      <article>
        <label for="diastolica" class="form-label">Diastólica</label>
        <input type="number" id="diastolica" formControlName="diastolica" class="form-control" [ngClass]="{'is-invalid':
                               registerForm.get('diastolica').invalid && sendedAttempt }">
      </article>
      <article>
        <label for="pulsaciones" class="form-label">Pulsaciones</label>
        <input type="number" id="pulsaciones" formControlName="pulsaciones" class="form-control" [ngClass]="{'is-invalid':
                               registerForm.get('pulsaciones').invalid && sendedAttempt }">
      </article>
    </section>
    @if (registerForm.invalid && sendedAttempt) {
    <section class="error-message mt-4 bg-danger text-white p-3 rounded">
        <h3>Error: Por favor, cumple con los requisitos de los campos</h3>
        <ul>
            @if (registerForm.get('sistolica').invalid) {
            <li>
                <strong>Sistólica:</strong> El valor no puede ser negativo y tiene que ser un valor entre 2 a 3 dígitos.
            </li>
            }
            @if (registerForm.get('diastolica').invalid) {
            <li>
                <strong>Diastólica:</strong> El valor no puede ser negativo y tiene que ser un valor entre 2 a 3 dígitos.
            </li>
            }
            @if (registerForm.get('pulsaciones').invalid) {
            <li>
                <strong>Pulsaciones:</strong> El valor no puede ser negativo y tiene que ser un valor entre 2 a 3
                dígitos.
            </li>
            }
        </ul>
    </section>
    } @else if (errores.length > 0) {
      <section class="error-message">
        <h3>Han ocurrido los siguientes errores:</h3>
        <ul>
          <li *ngFor="let error of errores">{{ error }}</li>
        </ul>
      </section>
    }
  <section class="btn-container">
    <button type="submit" class="btn-send">Subir</button>
    <button type="button" class="btn-cancel" (click)="onCancel()">Cancelar</button>
  </section>
</form>
}
