@if (isLoading) {
<section>
    <p>Registrando toma...</p>
    <app-loading-spinner></app-loading-spinner>
</section>
} @else {
<form [formGroup]="registerForm" (ngSubmit)="onRegisterTension()">
    <h2>FORMULARIO INSERCIÓN TOMA TENSIÓN ARTERIAL</h2>
    <section class="form-first-row">
        <fieldset class="form-speciality-data">
            <legend>Toma</legend>
            <article class="medicion-field">
                <label for="sistolica">Sistólica</label>
                <input type="number" id="sistolica" formControlName="sistolica" [ngClass]="{'invalid':
                           registerForm.get('sistolica').invalid && sendedAttempt }">
            </article>
            <article class="medicion-field">
                <label for="diastolica">Diastólica</label>
                <input type="number" id="diastolica" formControlName="diastolica" [ngClass]="{'invalid':
                           registerForm.get('diastolica').invalid && sendedAttempt }">
            </article>
            <article class="medicion-field">
                <label for="pulsaciones">Pulsaciones</label>
                <input type="number" id="pulsaciones" formControlName="pulsaciones" [ngClass]="{'invalid':
                           registerForm.get('pulsaciones').invalid && sendedAttempt }">
            </article>
        </fieldset>
    </section>
    @if (registerForm.invalid && sendedAttempt) {
    <section class="error-message">
        <h3>Por favor, cumple con los requisitos de los campos</h3>
        <ul>
            @if (registerForm.get('sistolica').invalid) {
            <li>
                <strong>Sistolica:</strong>El valor no puede ser negativo y tiene que ser un valor entre 2 a 3 dígitos.
            </li>
            }
            @if (registerForm.get('diastolica').invalid) {
            <li>
                <strong>Diastólica:</strong>El valor no puede ser negativo y tiene que ser un valor entre 2 a 3 dígitos.
            </li>
            }
            @if (registerForm.get('pulsaciones').invalid) {
            <li>
                <strong>Pulsaciones:</strong>El valor no puede ser negativo y tiene que ser un valor entre 2 a 3
                dígitos.
            </li>
            }
        </ul>
    </section>
    } @else if (errores.length > 0) {
    <p class="error-message" *ngFor="let error of errores">{{ error }}</p>
    }
    <section class="btn-section">
        <button type="submit">Subir</button>
        <button type="button" class="btn-cancel" (click)="onCancel()">Cancelar</button>
    </section>
</form>
}