<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <style>
        footer {
            width: 100%;
            padding: 0 100px;
        }

        footer p {
            font-size: 20px;
            text-align: center;
            font-weight: bold;
        }
    </style>
</head>
<body>
<footer>
    <p>Clínica Médica Coslada, SL</p>
</footer>
</body>
</html>