<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <style>
        header {
            width: 100%;
            padding: 0 100px;
        }

        header p {
            font-size: 20px;
            text-align: right;
            font-weight: bold;
        }
    </style>
</head>
<body>
<header>
    <p>Clínica Médica Coslada, SL</p>
</header>
</body>
</html>