@if (isLoading) {
  <app-loading-spinner></app-loading-spinner>
} @else {
  <form [formGroup]="loginForm" (ngSubmit)="onLoginAttempt()">
    <h2>LOGIN</h2>
    <section class="form-section">
      <label for="email">Email</label>
      <input type="email"
             id="email"
             formControlName="email"
      >
      @if (loginForm.get('email').invalid && loginForm.get('email').dirty) {
        @if (loginForm.get('email').errors['required']) {
          <small class="invalid">El email es necesario para iniciar sesión.</small>
        } @else if (loginForm.get('email').errors['isInvalidMail']) {
          <small class="invalid">El email ingresado no tiene un formato válido.</small>
        }
      }
    </section>
    <section class="form-section">
      <label [for]="passwordId">Contraseña</label>
      <app-password-input [id]="passwordId" formControlName="password"></app-password-input>
      @if (loginForm.get('password').invalid
      && loginForm.get('password').dirty) {
        <small class="invalid">La contraseña es necesaria para iniciar sesión.</small>
      }
      <a routerLink="/auth/forgotten-password">He olvidado mi contraseña</a>
    </section>
    <section>

    </section>
    <section>
      <button type="submit"
              [disabled]="loginForm.invalid">Iniciar sesión
      </button>
    </section>
    @if (error) {
      <p class="error">{{ error }}</p>
    }
    <section class="register-btn">
      <p>¿No tienes cuenta?
        <button routerLink="/auth/register">Registrate</button>
      </p>
    </section>
  </form>
}
