<form class="contenedor" [formGroup]="contactForm" (ngSubmit)="onRegisterAttempt()">
    <h2>FORMULARIO RECUPERACIÓN CONTRASEÑA</h2>
    <label>Nueva contraseña</label>
    <input type="password" name="password" placeholder="Introduce tu nueva contraseña" formControlName="password">
    <br><br>
    <label>Repite la contraseña</label>
    <input type="password" name="checkPassword" placeholder="Repite la nueva contraseña" formControlName="checkPassword">
    <br><br>
        <button type="submit">Confirmar</button>
    @if (contactForm.invalid && sendedAttempt) {
    <h3>Por favor, Introduce correctamente la nueva contraseña</h3>
    <section class="error-message">
        <ul>
            @if (contactForm.get('password').invalid) {
                <li>
                  <strong>Contraseña:</strong> Debe tener al menos 8 caracteres,
                  una mayúscula, una minúscula, un número y un carácter especial.
                </li>
              }

              @if (contactForm.get('checkPassword').invalid) {
                <li>
                  <strong>Contraseña:</strong> Debe tener al menos 8 caracteres,
                  una mayúscula, una minúscula, un número y un carácter especial.
                </li>
              }
              @if (!contrasenasIguales) {
                <li>
                  <strong>Contraseña:</strong> Ambas contraseñas deben ser iguales.
                </li>
              }
        </ul>
    </section>
    } @else if (errores.length>0) {
        <p class="error-message" *ngFor="let error of errores">{{ error }}</p>
    }
</form>
