<section class="waves">
  <article class="wave"></article>
  <article class="wave"></article>
  <article class="wave"></article>
  <article class="wave"></article>
</section>
<ul class="social-media">
  <li>
    <a href="#">
      <i class="ri-facebook-circle-fill"></i>
    </a>
  </li>
  <li>
    <a href="#">
      <i class="ri-twitter-x-fill"></i>
    </a>
  </li>
  <li>
    <a href="#">
      <i class="ri-linkedin-box-fill"></i>
    </a>
  </li>
  <li>
    <a href="#">
      <i class="ri-instagram-line"></i>
    </a>
  </li>
</ul>
<ul class="menu">
  <li>
    <a [routerLink]="'la-clinica'">La clínica</a>
  </li>
  <li>
    <a [routerLink]="'/nuestros-servicios'">Servicios</a>
  </li>
  <li>
    <a [routerLink]="'/contacta-con-nosotros'">Contacta</a>
  </li>
  <li>
    <a [routerLink]="'/auth'">MediAPP</a>
  </li>
</ul>
<p>&copy; 2024 Coslada Clinic, S.L. | All Rights Reserved</p>
