<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recuperar contraseña</title>
    <style>
        button {
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            border: none;
            cursor: pointer;
            border-radius: 4px;
        }
    </style>
</head>
<body>
<h1>Recuperar contraseña</h1>
<p>Usuario {{user.nombre}} {{user.primer_apellido}} {{user.segundo_apellido}},</p>
<p>Reciéntemente ha solicitado una recuperación de contraseña.
    Para continuar con el proceso de recuperación, haga clic en
    el siguiente enlace:</p>
<a href={{resetLink}}>
    <button>Recuperar contraseña</button>
</a>
<p>El enlace expirará en 1 hora. Por favor, actualice
    su contraseña antes de ese tiempo.</p>
<p>Si no ha solicitado una recuperación de contraseña,
    ignore este mensaje. Su contraseña no se cambiará.</p>
<p>Para cualquier duda o consulta póngase en contacto con
    nosotros. Gracias.</p>
<p>Atentamente, Clínica Médica Coslada.</p>
</body>
</html>