<h1>Panel de Administrador.</h1>
<pagination-controls (pageChange)="actualPage = $event; getUsers(actualPage)" maxSize="10" directionLinks="true"
  previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
<section class="filter">
  <article class="role-filter">
    <label for="role">Roles</label>
    <select id="role" [(ngModel)]="role" (change)="filterByRole()">
      <option *ngFor="let rol of roles" [value]="rol.id">{{rol.value}}</option>
    </select>
  </article>
  <article class="search">
    <label for="search">Buscar</label>
    <input type="text" id="search" [(ngModel)]="search" (keyup)="filterBySearch()">
  </article>
</section>
<section class="card-container">
  <div *ngFor="let user of users | paginate: { itemsPerPage: itemsPerPage, currentPage: actualPage, totalItems: totalItems }">
    <div class="m-3 d-flex justify-content-between align-items-center">
      <span>Nombre:{{user.datos_personales.nombre}} {{user.datos_personales.primer_apellido}} {{user.datos_personales.segundo_apellido}}<br> Rol:{{user.datos_rol.nombre_rol}}</span>
      <section class="d-flex m-3">
      <button type="button" class="btn btn-primary">Editar</button>
      <button type="button" class="btn btn-danger" (click)="confirmarCancelacion(user.usuario_id)">Eliminar</button>
    </section>
    </div>
  </div>
</section>
<button type="button" class="btn btn-primary" routerLink="/crearUsuario">Crear paciente</button>
<button type="button" class="btn btn-primary" routerLink="/crearEspecialista">Crear Especialista</button>


