@if (!isDataLoaded) {
    <app-loading-spinner></app-loading-spinner>
} @else {
  <form class="contenedor" [formGroup]="emailForm" (ngSubmit)="onRegisterAttempt()">
    <h2>FORMULARIO RECUPERACIÓN CONTRASEÑA</h2>
    <label>Correo electrónico</label>
    <input type="email" name="email" placeholder="Introduce tu correo electrónico" formControlName="email">
    <br><br>
    <button type="submit" [disabled]="botonDesactivado">Confirmar</button>
    @if (emailForm.invalid && sendedAttempt) {
      <section class="error-message">
        <ul>
          @if (emailForm.get('email').invalid) {
            <li>
              <strong>Correo electrónico:</strong> Debe tener un formato
              válido (usuario&#64;dominio.com | usuario&#64;dominio).
            </li>
          }
        </ul>
      </section>
    }
  </form>
}
