<h2 class="page-title">CONTACTA</h2>
<h3>¡Contacta con nuestro equipo y ubícanos!</h3>
<section class="contenedor">
  <article>
    <a href="tel:{{staticTelef}}">
      <i class="bi bi-telephone-fill"></i>
      <p>{{ staticTelef }}</p>
    </a>
  </article>
  <article>
    <a (click)="onClick(mapa)">
      <i class="bi bi-geo-alt-fill"></i>
      <p>{{ staticUbication }}</p>
    </a>
  </article>
  <article>
    <a (click)="onClick(formulario)">
      <i class="bi bi-envelope-at-fill"></i>
      <p>{{ staticEmail }}</p>
    </a>
  </article>
</section>
<h3>¡Te esperamos en nuestra clínica!</h3>
<section class="contenedor-mapa">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6074.3681938430345!2d-3.5589082244717587!3d40.42692225501965!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd42300e669f51a1%3A0xfac2e4067e66eeb4!2sIES%20Luis%20Braille!5e0!3m2!1ses!2ses!4v1712695884441!5m2!1ses!2ses"
    title="Ubicación clínica" allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade"
    gestureHandling="none" class="mapaUbicacion" #mapa></iframe>
</section>

<h3>¡Cuéntanos tu experiencia!</h3>
<section class="contenedor-form">
  <form #formulario [formGroup]="contactForm" (ngSubmit)="onSubmitEmail()">
    <section class="form-first-row">
      <article class="name">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" formControlName="nombre"
               [ngClass]="{'invalid': contactForm.get('nombre').invalid && sendedAttempt }">
      </article>
      <article class="description">
        <label for="descripcion">Descripción</label>
        <input type="text" name="descripcion" id="descripcion" formControlName="descripcion"
               [ngClass]="{'invalid': contactForm.get('descripcion').invalid && sendedAttempt }">
      </article>
    </section>
    <section class="form-second-row">
      <article class="email">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" formControlName="email"
               [ngClass]="{'invalid': contactForm.get('email').invalid && sendedAttempt }">
      </article>
      <article class="phone">
        <label for="telefono">Teléfono</label>
        <input type="text" name="telefono" id="telefono" formControlName="telefono"
               [ngClass]="{'invalid': contactForm.get('telefono').invalid && sendedAttempt }">
      </article>
    </section>
    <article class="message">
      <label for="mensaje">Mensaje</label>
      <quill-editor formControlName="mensaje" id="mensaje" placeholder="Introduce tu mensaje..."
                    [modules]="quillConfig"
                    [ngClass]="{ 'invalid': contactForm.get('mensaje').invalid && sendedAttempt }"></quill-editor>
    </article>
    <section class="buttons">
      <button type="submit">Enviar</button>
      <button type="reset">Borrar</button>
    </section>
    @if (contactForm.invalid && sendedAttempt) {
      <section class="error-message">
        <ul>
          @if (contactForm.get('nombre').invalid) {
            <li>
              <strong>Nombre:</strong> Debe rellenar este campo y comenzar por mayúscula.
            </li>
          }

          @if (contactForm.get('descripcion').invalid) {
            <li>
              <strong>Descripción:</strong> Es un campo requerido.
            </li>
          }

          @if (contactForm.get('email').invalid) {
            <li>
              <strong>Email:</strong> Debe tener un formato
              válido (usuario&#64;dominio.com | usuario&#64;dominio).
            </li>
          }

          @if (contactForm.get('telefono').invalid) {
            <li>
              <strong>Teléfono:</strong> Debe ser un número de 9 dígitos.
              Empezando por 6 o por 7. En el caso de prefijos internacionales,
              puede colocar el valor de las siguientes formas: +34 623456789 o
              0034 723456789.
            </li>
          }

          @if (contactForm.get('mensaje').invalid) {
            <li>
              <strong>Mensaje:</strong> Es un campo requerido.
            </li>
          }
        </ul>
      </section>
    } @else if (errores.length > 0) {
      <section class="error-message">
        <h3>Han ocurrido los siguientes errores:</h3>
        <ul>
          <li *ngFor="let error of errores">{{ error }}</li>
        </ul>
      </section>
    }
  </form>
  <app-chat-bot></app-chat-bot>
</section>
@if (isSendingEmail) {
  <app-loading-spinner></app-loading-spinner>
}
