@import "bootstrap-icons";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 2rem;

  h2, h3 {
    text-align: center;
  }

  .contacto, a, section, form, .botones {
    display: flex;
  }

  section {
    width: 100%;

    &.contenedor {
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: center;
      gap: 2rem;

      article {
        width: 300px;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 1rem;
        background-color: lightseagreen;
        box-shadow: 0 0 1rem black;
        border-radius: 1rem;
        text-align: justify;

        i {
          font-size: 5rem;
          margin-bottom: 5%;
          transition: .5s ease-in-out all;

          &:hover {
            transform: scale(1.1);
            color: #1c68b2;
          }
        }

        p {
          cursor: pointer;
        }

        a {
          width: fit-content;
          margin-inline: 2%;
          flex-flow: column;
          justify-content: center;
          align-items: center;
          color: black;
          text-decoration: none;
          cursor: pointer;
        }
      }

      label {
        padding-left: 0.8rem;
        font-weight: bold;
        font-size: .9rem;
        display: block;
      }

      input {
        padding: 0.5rem 1rem;
        border: 1px solid #ddd;
        border-radius: 1rem;
        width: 100%;

        &.invalid {
          border-color: red;
          background-color: lightcoral;
        }
      }
    }

    &.contenedor-mapa {
      border: 0;
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 600px;

      iframe {
        box-shadow: 0 10px 50px gray;
        border-radius: 3px;
        width: 100%;
        height: 100%;
      }
    }

    &.contenedor-form {
      max-width: 600px;
      flex-flow: column;
      align-items: center;

      form {
        flex-flow: column;
        align-items: center;
        background-color: lightseagreen;
        box-shadow: 0 0 15px black;
        border-radius: 1rem;
      }


      section {
        &.form-first-row,
        &.form-second-row {
          width: 100%;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          gap: 1rem;
        }

        &.buttons {
          width: 100%;
          display: flex;
          padding: 1rem;
          flex-flow: row nowrap;
          justify-content: center;
          gap: 1rem;

          button {
            padding: 0.5rem 1rem;
            border-radius: 1rem;
            color: white;
            cursor: pointer;
            width: 25%;
            transition: .5s ease-in-out all;

            &[type=submit] {
              background-color: #257c21;

              &:hover {
                background-color: #398a34;
              }
            }

            &[type=reset] {
              background-color: #fe4d4d;

              &:hover {
                background-color: #ff0000;
              }
            }
          }
        }
      }

      article {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;

        label {
          padding-left: 0.8rem;
          font-weight: bold;
          font-size: .9rem;
          display: block;
          width: 100%;
          text-align: center;
        }

        input {
          padding: 0.5rem 1rem;
          border: 1px solid #ddd;
          border-radius: 1rem;
          width: 80%;

          &.invalid {
            border-color: red;
            background-color: lightcoral;
          }
        }

        quill-editor {
          width: 80%;
          height: 300px;
          padding: 1rem;
          text-align: justify;
          resize: none;
          border-radius: .5rem;
          word-break: break-all;

          ::ng-deep.ql-toolbar.ql-snow {
            background-color: lightgray;
          }

          ::ng-deep.ql-container.ql-snow {
            background-color: white;
            height: 200px;
          }

          @media all and (max-width: 1200px) {
            height: 300px;
          }

          &.invalid {
            ::ng-deep.ql-container.ql-snow {
              background-color: lightcoral;
            }
          }
        }
      }
    }

    .error-message {
      font-size: .8rem;
      background-color: lightcoral !important;
      border: 1px solid red;
      padding: 0.5rem;
      border-radius: 2px 2px 8px 8px;
      height: fit-content;
      width: 100%;
    }

    .error-message ul {
      padding: 1rem;
    }

    .error-message li {
      text-align: justify;
    }
  }

  app-loading-spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
}


