<!DOCTYPE html>
<html lang="es">
<head>
	<title>Cita</title>
</head>
<body>
<h1>Cancelación de cita</h1>
<p>Estimad@ paciente,</p>
<p>
	Le confirmamos que su cita para el día {{cita.datos_cita.fecha}} a las {{cita.datos_cita.hora}}
	con el servicio de {{cita.datos_especialista.datos_especialidad.especialidad_nombre}} queda cancelada.
</p>
<p>Si tiene alguna pregunta, no dude en ponerse en contacto con nosotros.</p>
<p>Gracias,</p>
<p>El equipo de Clínica Médica Coslada</p>
</body>
</html>
