<!DOCTYPE html>
<html lang="es">
<head>
    <title>Cita</title>
</head>
<body>
<h1>Detalles de la Cita</h1>
<p>Estimad@ paciente,</p>
<p>Le confirmamos su cita para el día {{newCita.datos_cita.fecha}} a
    las {{newCita.datos_cita.hora}}.</p>
<p>Por favor, encuentre adjunto el PDF con los detalles de su cita.</p>
<p>Necesitará el QR adjunto para acceder a la consulta.</p>
<p>Recuerde que puede cancelar su cita si no va a acudir.</p>
<p>Si tiene alguna pregunta, no dude en ponerse en contacto con nosotros.</p>
<p>Gracias,</p>
<p>El equipo de Clínica Médica Coslada</p>
</body>
</html>
