<!DOCTYPE html>
<html lang="es">
<head>
    <title>Bienvenido a Clínica Médica Coslada</title>
</head>
<body>
<h1>¡Bienvenido, {{name}}!</h1>
<p>Estamos encantados de que te hayas unido a Clínica Médica Coslada. Aquí
    podrás gestionar tus citas médicas de manera eficiente y sencilla.</p>
<p>Si tienes alguna pregunta, no dudes en ponerte en contacto con nosotros.</p>
<p>Gracias,</p>
<p>El equipo de Clínica Médica Coslada</p>
</body>
</html>