<form class="contenedor" [formGroup]="updatePassForm"
      (ngSubmit)="onUpdatePassword()">
  <h2>FORMULARIO ACTUALIZACIÓN CONTRASEÑA</h2>
  <article>
    <label for="oldPassword">Contraseña actual</label>
    <app-password-input id="oldPassword"
                        placeholder="Introduce la contraseña actual"
                        formControlName="oldPassword"></app-password-input>
  </article>
  <article>
    <label for="newPassword">Nueva contraseña</label>
    <app-password-input id="newPassword"
                        placeholder="Introduce la nueva contraseña"
                        formControlName="password"></app-password-input>
  </article>
  <article>
    <label for="checkPassword">Repite la contraseña</label>
    <app-password-input id="checkPassword"
                        placeholder="Repite la contraseña"
                        formControlName="checkPassword"
    ></app-password-input>
  </article>
  <article>
    <button type="submit">Confirmar</button>
  </article>
  @if (updatePassForm.invalid && sendedAttempt) {
    <section class="error-message">
      <ul>
        @if (updatePassForm.get('oldPassword').invalid
        || updatePassForm.get('password').invalid
        || updatePassForm.get('checkPassword').invalid) {
          <li>
            <strong>Contraseña:</strong> Debe tener al menos 8 caracteres,
            una mayúscula, una minúscula, un número y un carácter especial.
          </li>
        }

        @if (!contrasenasIguales) {
          <li>
            Ambas contraseñas deben ser iguales.
          </li>
        }
      </ul>
    </section>
  }

  @if (!sendedAttempt && !contrasenasIguales) {
    <section class="error-message">
      <p>Las contraseñas no coinciden.</p>
    </section>
  }

  @if (errores.length > 0) {
    <section class="error-message">
      <h3>Han ocurrido los siguientes errores:</h3>
      <ul>
        <li *ngFor="let error of errores">{{ error }}</li>
      </ul>
    </section>
  }
</form>
