:host {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

h1 {
  text-align: center;
  margin-bottom: 2%;
}

h2 {
  margin-top: 3%;
}

h2:not(.contenido h2) {
  text-align: center;
  font-size: xx-large;
}

h3 {
  font-size: x-large;
}

p {
  margin-top: 4%;
  align-self: center;
  justify-self: center;
  font-size: x-large;
  text-align: justify;
}

.beneficios p {
  text-align: center;
}

.mision, .contenido, .historia, .parte_historia, .beneficios, .caracteristicas, .informacion {
  display: flex;
  width: 100%;
}

.contenido, .historia, .parte_historia, .beneficios, .informacion {
  flex-flow: column;
}

.mision, .parte_historia, .informacion {
  justify-content: center;
}

.mision, .historia, .beneficios {
  width: 75%;
  margin: auto;
}

.mision img {
  object-fit: cover;
}

.mision {
  flex-flow: row;
}

.contenido {
  margin: 0 3% 5% 0;
}

.contenido p + p {
  margin-top: 6%;
}

.patient, .contenido {
  width: 50%;
}

.historia {
  margin-top: 3%;
  border-radius: 1rem;
  background-color: gainsboro;
}

.historia h2 {
  margin-bottom: 3%;
}

.historia section:nth-child(odd) {
  align-self: flex-end;
}

.parte_historia {
  height: 40%;
  width: 55%;
  margin-inline: 5%;
  margin-bottom: 7%;
  align-items: center;
  box-shadow: 0px 0px 25px darkgray;
  background-color: lightskyblue;
  border-radius: 2rem;
}

.parte_historia img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.parte_historia p {
  margin: 4% 2%;
  padding-inline: 7%;
}

.beneficios {
  padding: 3% 0;
  justify-content: space-around;
}

.beneficios h2 {
  margin-top: 0;
  margin-bottom: 3%;
}

.caracteristicas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.informacion {
  flex: 1 0 20%;
  padding: 1%;
  align-items: center;
  border-radius: 1rem;
  background-color: lightblue;
  box-shadow: 0px 0px 20px lightgray;
  transition: 0.7s;
}

.informacion * {
  margin: 3% 0;
}

.informacion:hover {
  transform: scale(110%);
  background-color: #2239ab;
  color: gainsboro;
}

.informacion p {
  padding: 10px;
}

@media all and (max-width: 1000px) {
  .caracteristicas {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}

@media all and (max-width: 1250px) {
  .historia section:nth-child(odd), .parte_historia {
    align-self: center;
  }

  .historia {
    width: 100%;
  }

  .parte_historia {
    width: 70%;
    margin-inline: 0;
  }
}

@media all and (max-width: 1500px) {
  .mision * {
    width: 100%;
  }

  .mision {
    flex-flow: column;
  }

  .contenido {
    justify-content: center;
  }

  .patient {
    align-self: center;
    width: 80%;
  }
}
