<h1>Sobre nosotros</h1>

<section class="mision">
    <div class="contenido">
        <h2>Nuestra Misión</h2>
        <p>Nuestra misión es promover el bienestar y la salud integral de nuestros pacientes, brindando
            atención médica personalizada y centrada en este, en un entorno acogedor y seguro. Desde
            consultas médicas preventivas hasta tratamientos especializados, estamos comprometidos a ayudar
            a nuestros pacientes a alcanzar sus objetivos de salud y mejorar su calidad de vida.</p>
        <p>En <em>Clínica Médica Coslada</em> ,su salud y bienestar son nuestra prioridad número uno. Estamos aquí para
            usted, siempre listos para brindarle el más alto nivel de atención médica en un ambiente cálido y único.</p>
    </div>
    <img src="assets/img/mision.jpg" alt="imagen no disponible" class="patient">
</section>

<div class="historia">
    <h2>Nuestra Historia</h2>

    <section class="parte_historia">
        <img src="assets/img/apertura_clinica.jpg" alt="imagen no disponible">
        <div class="contenido_historia">
            <h2>Apertura Clínica Médica Coslada </h2>
            <p>Empezamos en el año 2012, llamándonos Clínica Médica Coslada, con un gran deseo de ayudar a mejorar la
                salud de las personas y poder ser de gran ayuda para aquellos quienes necesitan una mayor atención médica.</p>
            <p> Fue así como nació la idea de establecer nuestra clínica médica, un espacio destinado a promover el
                bienestar y la salud integral de quienes nos rodean.</p>
        </div>
    </section>

    <section class="parte_historia">
        <img src="assets/img/tecnologia_medica.jpg" alt="imagen no disponible">
        <div class="contenido_historia">
            <h2>Evolución</h2>
            <p>A lo largo de los años, nuestra clínica ha crecido y evolucionado, adaptándose a las necesidades
                cambiantes de nuestra comunidad. Hemos incorporado nuevas tecnologías, ampliado nuestra gama de
                servicios y fortalecido nuestras alianzas con otros profesionales de la salud.</p>
        </div>
    </section>

    <section class="parte_historia">
        <img src="assets/img/happy-pacient.jpg" alt="imagen no disponible">
        <div class="contenido_historia">
            <h2>Actualidad</h2>
            <p>Hoy, nos sentimos profundamente agradecidos por la confianza que nuestros pacientes han depositado en
                nosotros y por la oportunidad de servir a nuestra comunidad. Seguimos comprometidos con nuestra misión
                de proporcionar atención médica excepcional, siempre con un enfoque humano y compasivo.</p>
            <p>¡Bienvenidos a nuestra clínica médica, donde su salud y bienestar son nuestra máxima prioridad!</p>
        </div>
    </section>
</div>

<div class="beneficios">
    <h2>¿Porqué confiar en nosotros?</h2>

    <div class="caracteristicas">
        <section class="informacion">
            <img src="assets/img/icons/atencion.png" alt="imagen no disponible">
            <h3>Atención clínica</h3>
            <p>Uno de nuestros objetivos es que nuestros pacientes tenga una atención muy personalizada con calidad y confianza.</p>
        </section>

        <section class="informacion">
            <img src="assets/img/icons/especialistas.png" alt="imagen no disponible">
            <h3>Especialistas</h3>
            <p>Tenemos profesionales especializados en cada una de las diferentes áreas medicas con el fin de que te atienda el mejor.</p>
        </section>

        <section class="informacion">
            <img src="assets/img/icons/tecnologia.png" alt="imagen no disponible">
            <h3>Tecnología</h3>
            <p>Contamos con la última tecnología del mercado la cual nos ayuda a tratar a nuestros pacientes con la mayor seguridad posible.</p>
        </section>

        <section class="informacion">
            <img src="assets/img/icons/acceso.png" alt="imagen no disponible">
            <h3>Acceso rápido</h3>
            <p>Siempre estamos a tu disposición las 24 horas del día, posibilitándote una atención médica rápida al igual que efectiva.</p>
        </section>
    </div>
</div>
