@if (isLoading) {
  <app-loading-spinner></app-loading-spinner>
} @else {
  <section class="main-container">
    <h2 class="page-title">NUESTROS ESPECIALISTAS</h2>
    <section class="specialities-container">
      @for (datum of listOfData; track datum.id) {
        <section class="speciality-container" id="{{datum.id}}">
          <h3>Especialistas en {{ datum.nombre | lowercase }}</h3>
          <section class="specialists-container">
            @for (doctor of datum.especialistas; track doctor.id) {
              <section class="specialist-container">
                <article>
                  <figure>
                    <img src="{{ doctor.imagen }}" alt="{{ doctor.nombre }}">
                  </figure>
                </article>
                <article class="specialist-info">
                  <h4>{{ doctor.nombre }} {{ doctor.primer_apellido }} {{doctor.segundo_apellido}}</h4>
                  <section class="btn-container">
                    <button type="button" routerLink="/listado-de-especialistas/{{doctor.id}}">Ver perfil</button>
                  </section>
                </article>
              </section>
            }
          </section>
        </section>
      }
    </section>
    <app-chat-bot></app-chat-bot>
  </section>
}
