<form [formGroup]="registerForm" (ngSubmit)="onRegisterToma()" class="container my-4 ">
    <div class="row mb-3">
        <div class="col-12">
            <h2 *ngIf="!isEditing; else isEditingH2" class="text-center">FORMULARIO CREAR TOMA</h2>
            <ng-template #isEditingH2>
                <h2 class="text-center">FORMULARIO EDITAR TOMA</h2>
            </ng-template>
        </div>
    </div>
    <fieldset class="border p-4 mb-4">
        <legend class="w-auto">Datos toma</legend>
        <div class="mb-3">
            <label for="medicamento" class="form-label">Medicamento</label>
            <select2 id="medicamento" formControlName="medicamento" class="form-control"
                [ngClass]="{ 'is-invalid': sendedAttempt && registerForm.get('medicamento').invalid }"
                [data]="medicamentos" placeholder="Elige una opcion">
            </select2>
        </div>
      <div class="row">
        <div class="col-6 mb-3">
            <label for="hour" class="form-label">Hora</label>
            <input type="time" id="hour" formControlName="hora" class="form-control"
                [ngClass]="{'is-invalid': registerForm.get('hora').invalid && sendedAttempt }">
        </div>
        <div class="col-6 mb-3">
            <label for="dose" class="form-label">Dosis</label>
            <input type="number" id="dose" formControlName="dosis" class="form-control"
                [ngClass]="{'is-invalid': registerForm.get('dosis').invalid && sendedAttempt }">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12 mb-3">
          <label for="initDate" class="form-label">Fecha Inicio</label>
          <input type="date" id="initDate" formControlName="fechaInicio" class="form-control"
                 [ngClass]="{'is-invalid': registerForm.get('fechaInicio').invalid && sendedAttempt }">
        </div>
        <div class="col-md-6 col-sm-12 mb-3">
          <label for="endDate" class="form-label">Fecha Fin</label>
          <input type="date" id="endDate" formControlName="fechaFin" class="form-control"
                 [ngClass]="{'is-invalid': registerForm.get('fechaFin').invalid && sendedAttempt }">
        </div>
      </div>
        <div class="mb-3">
            <label for="observation" class="form-label">Observaciones</label>
            <p class="text-muted"><span
                    [class.text-danger]="observationLength > maxLength">{{observationLength}}</span>/{{maxLength}}
                caracteres</p>
            <quill-editor formControlName="observacion" id="observation" placeholder="Introduce una observación..."
                [modules]="quillConfig" class="form-control"
                [ngClass]="{ 'is-invalid': registerForm.get('observacion').invalid && sendedAttempt }"></quill-editor>
        </div>
    </fieldset>
    <div *ngIf="registerForm.invalid && sendedAttempt" class="alert alert-danger">
        <h4>Por favor, rellena todos los campos correctamente:</h4>
        <ul>
            <li *ngIf="registerForm.get('medicamento').invalid">
                <strong>Medicamento:</strong> Debe haber un medicamento seleccionado.
            </li>
            <li *ngIf="registerForm.get('hora').invalid">
                <strong>Hora:</strong> Debe haber una hora establecida.
            </li>
            <li *ngIf="registerForm.get('dosis').invalid">
                <strong>Dosis:</strong>El medicamento debe de estar dosificado.
            </li>
            <li *ngIf="registerForm.get('fechaInicio').invalid">
                <strong>Fecha inicio:</strong> El tratamiento debe de tener una fecha de inicio y no superar a la fecha de fin.
            </li>
            <li *ngIf="registerForm.get('fechaFin').invalid">
                <strong>Fecha fin:</strong> El tratamiento debe de tener una fecha de fin establecida.
            </li>
            <li *ngIf="registerForm.get('observacion').invalid">
                <strong>Observación:</strong> Debe de tener una observación y no superar los 120 caracteres.
            </li>
            <li *ngIf="registerForm.errors?.startDate">
                <strong>Fecha inicio:</strong> La fecha de inicio no puede ser anterior a hoy.
            </li>
            <li *ngIf="registerForm.errors?.endDate">
                <strong>Fecha fin:</strong> La fecha de fin no puede ser anterior a hoy ni a la fecha de inicio.
            </li>
        </ul>
    </div>
    <div *ngIf="errores.length > 0" class="alert alert-danger">
        <ul>
            <li *ngFor="let error of errores">{{ error }}</li>
        </ul>
    </div>
    <div class="row pb-4">
        <div class="col-12 text-center">
            <button type="submit" class="btn btn-primary me-2" *ngIf="!isEditing; else isEditingBtn">Crear</button>
            <ng-template #isEditingBtn>
                <button type="submit" class="btn btn-primary me-2">Editar</button>
            </ng-template>
            <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancelar</button>
        </div>
    </div>
</form>
